<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Title>PowerPAD</Title>
    <Name>PowerPAD</Name>
    <Version>0.1.0</Version>
    <Publisher>Tekit</Publisher>
    <StartMenuDir>PowerPAD</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/PowerPAD</TargetDir>
    <Logo>icon.png</Logo>
    <WizardStyle>Modern</WizardStyle>   
    <RemoteRepositories>
        <Repository>
            <Url>https://pjalaber.github.io/powerpad</Url>
            <Enabled>1</Enabled>
            <DisplayName>PowerPAD repository</DisplayName>
         </Repository>
    </RemoteRepositories>
</Installer>
